* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

body > div {
    width : max(50vh, 800px);
    margin: auto;
}

header {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
}

.num-box {
    width: 50px;
}

section {
    text-align: center;
}

div#script-target {
    margin: auto;
    width: fit-content;
    display: grid;
    grid-template-rows: repeat(16, 20px);    
    grid-template-columns: repeat(16, 20px);
}

div.bg-black { background-color: black; }
div.bg-white { background-color: white; }